
  .wrapper-class {
    border: 1px solid #ccc;
  }
  .editor-class {
    background-color:white;
    padding: 1rem;
    /* border: 1px solid #ccc; */
  }
  .toolbar-class {
    background-color:white;
    margin-bottom: 0rem;
  }

  /* Избавляемся от лишних побелов при Enter */
  .public-DraftStyleDefault-block {
    margin: 0 !important;
  }