.category-card {
    margin-bottom: 20px;
}

.category-body {
    margin-bottom: 10px;
    padding-bottom: 0px;
}

.category-img-card{
    margin-bottom: 10px;
    padding: 0;
}

.category-img{
    height: auto;
    width: 5rem;

}

.category-btn-card{
    margin-bottom: 10px;
    padding: 0;
}